venv
app/__pycache__
app/sqlite.db
app/sql_app/__pycache__
app_rt
.pytest_cache
app/dependencies/__pycache__/
app/db/__pycache__/
app/email_send/__pycache__/
app/pydantic_schemas/__pycache__/
app/routes/__pycache__/